% extends 'base.html' %}
{% load media_path %}  # Подключение фильтра в начале шаблона

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Наши товары</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <a href="{{ product.get_absolute_url }}">
                    <img class="card-img-top" src="{{ product.image|mymedia }}" alt="{{ product.name }}">
                </a>
                <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                <p>{{ product.description|truncatechars:100 }}</p>
                <p>Цена: {{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}