annotated-types==0.7.0
argcomplete==1.12.3
asgiref==3.8.1
atomicwrites==1.4.1
attrs==24.2.0
bottle==0.12.18
certifi==2024.7.4
chardet==3.0.4
colorama==0.4.6
coloredlogs==15.0.1
Django==5.1
flake8==7.1.1
humanfriendly==10.0
idna==2.10
iniconfig==2.0.0
mccabe==0.7.0
more-itertools==10.4.0
packaging==24.0
pluggy==0.13.1
postgres==4.0
prettytable==0.7.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
psycopg2-pool==1.2
py==1.11.0
pycodestyle==2.12.1
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.2.0
PyHamcrest==2.0.2
pymongo==3.11.0
pyreadline3==3.4.1
pytest==5.4.3
pywin32==306
requests==2.24.0
servicemanager==2.0.10
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.25.11
wcwidth==0.2.13
